/* .login-page{
    position: relative;
    height: 100%;
    background-color: rgb(56, 56, 56);
}
.login{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
} */

button{
    width: 100%;
}